<!DOCTYPE html>
<html>
<head>

    <title>CodeLearn</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" src="../static/scripts/statistics.js"></script>
  </head>

  <body onload = "get_submissions();">

      <div class="topnav">
      <img src="../static/images/peslogo.png" id="peslogo"></img>
      <a href=" {{url_for('render_index')}} ">Home</a>
      <a class = "active" href=" {{url_for('render_stats')}} ">My Stats</a>
      <a href=" {{url_for('render_feedback')}} ">Feedback</a>
      <a href=" {{url_for('render_contact')}} ">Contact</a>
      <a href = "{{url_for('render_set_paper')}} "> Generate Question paper </a>
      <a href="{{url_for('render_login')}}" id="logout" >Log Out</a>
      </div>

    <div class="intro">
      <h1 class="logo"> CodeLearn </h1>
      <!-- <p>Select a language  from below and make corrections to the displayed code.</p> -->
    </div>
    <!-- <hr> -->
    <div class="statbody">
          <button id="viewstatsbutton" onclick="calc_stats()"> <a href="#stats">VIEW STATISTICS </a></button>
          <h2 id="user">User : John Doe</h2>


          <center><h1>Problem Solving History </h1></center>
          <table id= "history_table">
          <tr>

            <th>Language</th>
            <th>Category</th>
            <th>Program Name</th>
            <th>Score</th>
            <th>Time of Submission </th>
          </tr>
          <!-- <tr>
            <td>c</td>
            <td>stack_0.c</td>
            <td>data_structures</td>
            <td class="table_score">60.00%</td>
            <td>13:10 10/04/20</td>
          </tr> -->

        </table>
        <br><br><br><br>

        <div id="stats">
          <div id="stats1">
            <h1>Statistics </h1>
            <h2 id="avg">Average Score :</h2>
            <h2 id="s_lang">Strongest language : </h2>
            <h2 id="w_lang">Weakest language : </h2>
          </div>
          <div id="stats2">
            <br><br><br>
            <h2 id="tot_sub">Total Submissions : </h2>
            <h2 id="c_sub">C Submissions: </h2>
            <h2 id="p_sub">Python Submissions</h2>
          </div>



          <br><br><br>
          <!-- <form id = "chartarea"  >
                <h2>View Chart</h2>
                <label class="container">Submission counts
                  <input type="radio" name="radio" value = "sc" >
                  <span class="checkmark"></span>
                </label>
                <label class="container">Average Scores
                  <input type="radio" name="radio" value = "as" >
                  <span class="checkmark"></span>
                </label>
                <br><br>

               <button onclick="display_chart();">SHOW CHART</button>
        </form> -->
        <br><br><Br><br><br><br>
        <h1 class="charttop">Visualization </h1>
        <div class="cc" id="chartContainer1" ></div>
        <div class="cc"id="chartContainer2" ></div> <br><br><br>
        <div id="chartContainer3" ></div>
        <div id="chartContainer4" ></div>
        <div id="chartContainer5" ></div>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

      </div>

    </div>

  </body>
  <script>

  </script>
</html>
