<!DOCTYPE html>
<html>
<head>

    <title>CodeLearn</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <script type="text/javascript" src="../static/scripts/index.js"></script>
  </head>

  <body>

    
      <div class="topnav">
      <img src="../static/images/peslogo.png" id="peslogo"></img>
      <a href=" {{url_for('render_index')}} ">Home</a>
      <a href=" {{url_for('render_stats')}} ">My Stats</a>
      <a href=" {{url_for('render_feedback')}} ">Feedback</a>
      <a href=" {{url_for('render_contact')}} ">Contact</a>
      <a class = "active" href = "{{url_for('render_set_paper')}} "> Generate Question paper </a>
      <a href="{{url_for('render_login')}}" id="logout" >Log Out</a>
      </div>

    <div class="intro">
      <h1 class="logo"> CodeLearn </h1>
      <!-- <p>Select a language  from below and make corrections to the displayed code.</p> -->

    </div>
    <!-- <hr> -->
    <div class="body">


       <!--  <div class="split left" id="leftbar" onclick="revert_view();">

          
          <p><tt id="results"></tt></p>
        </div> -->

        <div class="split right">
            <form id = "uploadform" action = "http://0.0.0.0/upload" method = "POST" enctype="multipart/form-data">
              <h2> Select file to upload: </h2>
              <div class = "split left">
                <label for="quantity">Number of papers:</label>
                <input type="number" id="quantity" name="quantity" min="1">
              </div>
              <input type="file" name="file1" id="file1" class = "fileuploadbutton" >
              <br/> <br/> 
              <!-- <button onclick="get_file('solution');">VIEW SOLUTION</button> -->
              <div class = "split right-most">
                <input id = "submit" type = "submit" class = "fileuploadbutton">
              </div>
            </form>

            <button onclick="add_button();"> Add More Files </button> 
            <br/> <br/>  
            
          <br><br><br><br>
          
        </div>


    </div>

  </body>
  <script>
    var filenumber = 2;
    function add_button(){
      var form = document.getElementById("uploadform");
      var input = document.createElement("input");
      input.setAttribute("type", "file");
      input.setAttribute("name", "file" + filenumber.toString());
      input.setAttribute("id", "file" + filenumber.toString());
      input.setAttribute("class", "fileuploadbutton");
      form.appendChild(input);
      var br1 = document.createElement("br");
      var br2 = document.createElement("br");
      form.appendChild(br1);
      form.appendChild(br2);
      filenumber += 1;
    }
  </script>
</html>
