<!DOCTYPE html>
<html>
<head>

    <title>CodeLearn</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <script type="text/javascript" src="../static/scripts/index.js"></script>
  </head>

  <body>


      <div class="topnav">
      <img src="../static/images/peslogo.png" id="peslogo"></img>
      <a href=" {{url_for('render_index')}} ">Home</a>
      <a href=" {{url_for('render_stats')}} ">My Stats</a>
      <a href=" {{url_for('render_feedback')}} ">Feedback</a>
      <a href=" {{url_for('render_contact')}} ">Contact</a>
      <a class = "active" href = "{{url_for('render_set_paper')}} "> Generate Question paper </a>
      <a href="{{url_for('render_login')}}" id="logout" >Log Out</a>
      </div>

    <div class="intro">
      <h1 class="logo"> CodeLearn </h1>


    </div>
    <!-- <hr> -->
    <div class="body">


       <!--  <div class="split left" id="leftbar" onclick="revert_view();">


          <p><tt id="results"></tt></p>
        </div> -->
<center>
        <div class = "qp_body" >
            <h3>Generate different sets of debugging exercise question papers.</h3>
            <form id = "uploadform" action = "http://0.0.0.0/upload" method = "POST" enctype="multipart/form-data">
                <label for="quantity">Enter Number of Papers (1-10): </label>
                <input type="number" id="quantity" name="quantity" min="1" max="10"><br><br>
                  <label for="file1"> Select file to upload: </label><br><br>
                  <input type="file" name="file1" id="file1" class = "fileuploadbutton" id="submit" >
                  <br><br>

                <div id= "submitfiles">
                  <input id = "submit" type = "submit" class = "fileuploadbutton">

                </div>
            </form>
            <button onclick="add_button();" id="addmorefiles"> Add More Files </button><br><br>

        </div>

            <br/> <br/>
</center>
          <br><br><br><br>




    </div>

  </body>
  <script>
    var filenumber = 2;
    function add_button(){
      var form = document.getElementById("uploadform");
      var input = document.createElement("input");
      input.setAttribute("type", "file");
      input.setAttribute("name", "file" + filenumber.toString());
      input.setAttribute("id", "file1" );
      input.setAttribute("class", "fileuploadbutton");
      form.appendChild(input);
      var br1 = document.createElement("br");
      var br2 = document.createElement("br");
      form.appendChild(br1);
      form.appendChild(br2);
      filenumber += 1;
    }
  </script>
</html>
